<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Eater - Flask API</title>
</head>
<body>
    <h1>Hello, universe!</h1>

    <table border="1" style="border-collapse: collapse; width: 100%;">
        <tr style="background-color: #f2f2f2;">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Timestamp</th>
        </tr>
        {% for person in people %}
        <tr style="background-color: {% if loop.index is even %}#f9f9f9{% else %}transparent{% endif %};">
            <td style="text-align: left; padding: 8px;">{{ person.id }}</td>
            <td style="text-align: left; padding: 8px;">{{ person.fname }}</td>
            <td style="text-align: left; padding: 8px;">{{ person.lname }}</td>
            <td style="text-align: left; padding: 8px;">{{ person.timestamp }}</td>
         </tr>
        {% endfor %}
    </table>
</body>
</html>